# Patiently -- Initial Algorithm for Patient Matching Problem 

We followed Office Ally's POC algorithm closely with a Python/SQLite database implementation. In addition to using hash tokens and Soundex tokens, we also incorporated street address features in the matching and worked on improving efficiency.

In [21]:
import pandas as pd
import hashlib
from pyphonetics import Soundex, RefinedSoundex

In [2]:
# Load data from input CSV (also loaded in db)
data = pd.read_csv("Patient_Matching_Data.csv")
data = data.loc[:, :"Current Zip Code"]
data.head()

## Standardization of Fields
We standardize data by using all upper case letters and retaining only alphanumerics.

In [4]:
# Missing values are replaced with empty string or 0s
data['First Name'] = data['First Name'].fillna("").str.upper().str.replace('\W', '')
data['MI'] = data['MI'].fillna("").str.upper().str.replace('\W', '')
data['Last Name'] = data['Last Name'].fillna("").str.upper().str.replace('\W', '')
data['Current Street 1'] = data['Current Street 1'].fillna("").str.upper().str.replace('\W', '')
data['Current Street 2'] = data['Current Street 2'].fillna("").str.upper().str.replace('\W', '')

# For sex, only keep first character and represent missing Na as "U"
data['Sex'] = data['Sex'].str.upper().str[0]
data['Sex'] = data['Sex'].fillna("U")

# Convert zip code to alphanumeric string or 0
data['Current Zip Code'] = data['Current Zip Code'].fillna(0).astype(int).astype(str).str[:5]
data['Current City'] = data['Current City'].fillna("").str.upper().str.replace('\W', '')
data.head()

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,Current City,Current State,Current Zip Code
0,1,1,247028705-7,SUTTON,J,POWER,9/20/1945,M,1858SULLIVANPARKWAY,,FRESNO,California,93726
1,1,2,NaN,SUTTIN,JAMES,POWER,9/21/1945,M,1859SULLIVANPARKWAY,2,FRESNO,California,93726
2,1,3,247028705-7,SUTTON,J,POWER,9/20/1945,M,1858SULLIVANPARKWAY,,FRESNO,CA,93726
3,1,4,NaN,SUTTON,,POWER,9/20/1954,M,1858SULLIVANPARKWAY,,FRESNO,California,93726
4,1,5,NaN,SUTTON,,POWER,9/20/1954,M,1858SULLIVANPKWAY,APT2,FRESNO,California,93726

In [5]:
# Normalize the states by turning abbreviations into text
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

data['Current State'] = data['Current State'].replace(to_replace=states, value=None)
data['Current State'] = data['Current State'].str.upper().str.replace('\W', '')

In [6]:
# Standardize date of births, and fill missing values with 0s
data['Date of Birth'] = pd.to_datetime(data['Date of Birth'], errors='coerce').dt.date
data['Date of Birth'] = data['Date of Birth'].fillna(0).astype(str)
data

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,Current City,Current State,Current Zip Code
0,1,1,247028705-7,SUTTON,J,POWER,1945-09-20,M,1858SULLIVANPARKWAY,,FRESNO,CALIFORNIA,93726
1,1,2,NaN,SUTTIN,JAMES,POWER,1945-09-21,M,1859SULLIVANPARKWAY,2,FRESNO,CALIFORNIA,93726
2,1,3,247028705-7,SUTTON,J,POWER,1945-09-20,M,1858SULLIVANPARKWAY,,FRESNO,CALIFORNIA,93726
3,1,4,NaN,SUTTON,,POWER,1954-09-20,M,1858SULLIVANPARKWAY,,FRESNO,CALIFORNIA,93726
4,1,5,NaN,SUTTON,,POWER,1954-09-20,M,1858SULLIVANPKWAY,APT2,FRESNO,CALIFORNIA,93726
5,2,6,NaN,SUTTON,,POWERS,2000-12-15,F,1619MAPLELANE,,FRESNO,CALIFORNIA,93726
6,2,7,NaN,SUTTON,,POWERS,2000-12-15,F,1619MAPLELANE,,FRESNO,CALIFORNIA,93726
7,3,8,757393348-7,MIKEL,L,TRAYTON,2000-09-20,M,715JANAPOINT,,APACHEJUNCTION,ARIZONA,85219
8,3,9,757393348-7,MIKEL,LEE,TRAYTON,2000-09-20,M,715JANAPOINT,,APACHEJUNCTION,ARIZONA,85219
9,3,10,757393348-7,MICHAEL,,TRAYTON,2000-09-20,M,715JANAPOINT,,APACHEJUNCTION,ARIZONA,85219
10,3,11,NaN,MIKE,,TRAYTON,2000-09-02,M,715JANAPOINT,,APACHEJUNCTION,ARIZONA,85219
11,3,12,757393348-7,MIKEL,,TRAYTON,2000-09-20,M,715JANAPOINT,,APACHEJUNCTION,ARIZONA,85219
12,3,13,NaN,MIKEL,L,TRAYTON,2000-09-20,F,715JANAPOINT,DONOTMAIL,APACHEJUNCTION,ARIZONA,85219
13,4,14,930819916-0,DALIA,,BIBB,1939-12-07,F,78TALMADGEDRIVE,,JAMAICA,NEWYORK,11447
14,4,15,NaN,DALIA,,BIBB,1939-12-07,F,78TALMADGEDRIVE,,JAMAICA,NEWYORK,11447
15,5,16,887103871-1,MYRVYN,,BUDDOCK,1946-04-11,M,264JUDYPASS,,ANAHEIM,CALIFORNIA,92812
16,5,17,NaN,MERVIN,T,BUDDOCK,1946-04-11,M,264JUDYPASS,,ANAHEIM,CALIFORNIA,92812
17,5,18,NaN,MYRVIN,,BUDDOCK,1946-04-11,M,264JUDYPASS,,ANAHEIM,CALIFORNIA,92812
18,5,19,NaN,MERVYN,,BUDDOCK,1946-04-11,M,264JUDYPASS,,ANAHEIM,CALIFORNIA,92812
19,6,20,NaN,MERVIN,,BUDDOCK,2000-12-15,M,251030GOLFBOLLING,,ANAHEIM,CALIFORNIA,92812
20,7,21,146899396-8,CAMMY,,WINDLESS,1984-04-18,F,142SUMMERRIDGEPLACE,,FRESNO,CALIFORNIA,93709
21,7,22,CAM123,CAM,,WINDLESS,1984-04-18,F,142SUMMERRIDGEPLACE,,FRESNO,CALIFORNIA,93709
22,7,23,NaN,CAMERON,,WINDLES,1984-04-18,F,142SUMMERRIDGEPLACE,,FRESNO,CALIFORNIA,93709
23,8,24,075148803-8,ELENORE,,MACDONNELL,1950-12-16,F,549PEARSONPLAZA,,ATLANTA,GEORGIA,31106
24,8,25,075148803-8,ELENOR,,MCDONNELL,1950-12-06,F,549PEARSONPLAZA,,ATLANTA,GEORGIA,31106
25,8,26,075148803-8,ELENORA,,MACDONEL,1950-12-16,F,549PEARSONPLAZA,,ATLANTA,GEORGIA,31106
26,9,27,111421375-6,JANET,,BIASINI,1949-09-28,F,9083PENNSYLVANIAPARKWAY,,RALEIGH,NORTHCAROLINA,27615
27,9,28,NaN,JANET,,BISINI,1949-09-28,F,9083PENNSYLVANIAPARKWAY,,RALEIGH,NORTHCAROLINA,27615
28,10,29,303748859-X,DARBY,,STEINSON,1991-06-14,M,1587SHOPKOPARKWAYAPT200,,HOUSTON,TEXAS,77035
29,10,30,NaN,DARBIE,,STEIINSON,1991-06-14,M,1587SHOPKOPARKWAY,APT200,HOUSTON,TEXAS,77035
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,53,172,404591211-8,BERTI,,LOCKIE,1983-11-13,F,2729SPRINGSJUNCTION,,ARLINGTON,VIRGINIA,22234
172,53,173,NaN,BERTI,,LOCKEE,1983-11-13,U,2729SPRINGSJUNCTION,,ARLINGTON,VIRGINIA,0
173,53,174,NaN,BERTI,,LOCKI,1983-11-13,F,2729SPRINGSJUNCTION,,ARLINGTON,VIRGINIA,22234
174,53,175,48521534889,BERTI,,LOCKIE,0,F,2729SPRINGSJUNCTION,,ARLINTON,VIRGINIA,22234
175,54,176,265234041-7,ZARAH,,DAKE,2010-06-29,F,334PEARSONLANE,,STOCKTON,CALIFORNIA,95219
176,54,177,NaN,SARAH,,DAKE,2010-06-29,F,334PEARSONLN,,STOCKTON,NaN,95219
177,54,178,265234041-7,SARA,,DRAKE,2010-06-29,U,334PEARSONLN,,STOCKTON,CALIFORNIA,0
178,55,179,361284643-4,MADISON,GENA,PYBUS,1937-12-30,M,14CARDINALTERRACE,,PORTLAND,OREGON,97211
179,55,180,NaN,MADDIE,G,PYBUS,1937-12-30,U,14CARDINALTERACE,,PDX,OREGON,9721
180,55,181,584121154-1,MADISON,,P,1937-12-20,U,14CARDINALTERRACE,,PORTLAND,PUERTORICO,0
181,55,182,NaN,MADISON,,PIEBUS,1937-12-30,M,14CARDINALTERRACE,,PORTLAND,OREGON,97211
182,56,183,488721348,MADISON,Q,PYBUS,2013-05-24,F,4454SPADAFOREDR,,VANCOUVER,WASHINGTON,98683
183,57,184,101138829-4,EARLY,,BURNYEAT,1991-09-26,U,66PIERSTORFFAVE,,NEWCASTLE,PENNSYLVANIA,16107
184,57,185,101518532,EARLIE,J,BURNYEAT,1991-09-26,U,66PIERSTORFFAVENUE,,NEWCASTLE,PENNSYLVANIA,16107
185,57,186,101138829-6,HEARLY,J,BURNIET,0,U,66PIERSTORFFAVE,APARTMENT569,NEWCASTLE,PENNSYLVANIA,1610
186,58,187,PAT10222JV,J,,VU,1970-12-15,F,161978THROAD,,VANCOUVER,WASHINGTON,98683
187,58,188,PAT10222JV,J,,VU,1970-12-15,F,161978THRD,,VANCOUVER,WASHINGTON,98683
188,58,189,NaN,JA,,VUE,1970-12-15,F,161978THRODE,,VANCOUVER,WASHINGTON,98683
189,58,190,NaN,JAH,,VU,1970-12-15,F,161978THROED,,VANCOUVER,WASHINGTON,98683
190,59,191,1000TF1,TJ,S,FRY,1986-05-05,F,12405TEITERHEIGHTSE,,KELSO,WASHINGTON,98626
191,59,192,NaN,TJAY,S,FRY,1986-05-05,F,12405TEITERHEIGHTSE,,KELSO,WASHINGTON,98626
192,59,193,NaN,TJ,SARAH,FRYE,1986-05-05,F,12405TEITERHEIGHTSE,,KELSO,WASHINGTON,98626
193,59,194,NaN,TJ,SARA,FRY,1986-05-05,F,12405TEITERHEIGHTSE,,KELSO,WASHINGTON,98626
194,60,195,NaN,TODD,,JONES,2015-12-01,M,15424JEFFIESLANE,APT2,VANCOUVER,WASHINGTON,98683
195,60,196,NaN,TOM,,JONES,2015-12-01,M,15424JEFFIESLANE,APT2,VANCOUVER,WASHINGTON,98683
196,61,197,NaN,BILL,,SMITH,1972-05-16,M,16595CITYVIEWLANE,,VANCOUVER,WASHINGTON,98684
197,62,198,NaN,BILL,,SMITH,1972-05-16,M,,,,NaN,0
198,63,199,NaN,SARAH,,FIELD,2010-03-17,F,9850KELSOROAD,,KELSO,WASHINGTON,98626
199,64,200,NaN,SARA,,FIELD,2010-03-17,F,,,,NaN,0
200,65,201,NaN,SARA,,FIELD,2010-03-17,F,,,,NaN,0

## Partial Hashing to Compute Distinct Patients
For accurate records, the hash of partial names, birthdate and sex for distinct patients should give a good initial grouping of records. Assuming a low collision rate, we can assume that the different hashes represent different patients.

In [7]:
# Compute partial SHA-1 hashes using birthdate, partial names, sex
salt = "LAHACKS"

def compute_hash(fields):
    res = []
    for first, last, date_of_birth, sex in fields:
        h = hashlib.sha1()
        # Partial hashing only uses first 3 chars of names
        partial_first = (first + ("_" * 3))[:3]
        partial_last = (last + ("_" * 3))[:3]
        date_of_birth = (date_of_birth + ("_" * 10))[:10]
        h.update((salt + date_of_birth + "~" + sex + "~" + partial_first + "~" + partial_last + "XXX").encode('utf-8'))
        res.append(h.hexdigest())
    return res

In [8]:
data['parHash'] = compute_hash(list(zip(data["First Name"], data["Last Name"], data["Date of Birth"], data["Sex"])))

In [9]:
# Deduplicate by the partial hash, so all accurate records are grouped
dedupped = data.groupby(["parHash"])
dedup_by_hash = data.groupby(["parHash"])["PatientID"].apply(list).reset_index(name='patient_ids')

In [10]:
# Build reference table for dedupped groups and important information
reference = dedupped.first().reset_index()\
[["parHash", "First Name", "Last Name", "Date of Birth", "Sex", "Current Street 1", "Current City", "Current State", "Current Zip Code"]]

In [11]:
reference = reference.merge(dedup_by_hash)
reference.head()

,parHash,First Name,Last Name,Date of Birth,Sex,Current Street 1,Current City,Current State,Current Zip Code,patient_ids
0,01a4ca012df8139ceea9c1adbfb4970f7bc14892,MIKE,TRAYTON,2000-09-02,M,715JANAPOINT,APACHEJUNCTION,ARIZONA,85219,[11]
1,02e52b2bee3e42c3559731154a3d28a66a277e8d,MAYNARD,SKIRVAN,2007-04-24,M,485HANSONSTREETE,PHOENIX,ARIZONA,85010,"[31, 33]"
2,0838ea2d08a5715c8e34e0d47832c1b97eecf5db,KATHARINA,STOPPER,1960-03-19,F,61256MERRICKPLACE,ALBUQUERQUE,NEWMEXICO,87190,"[70, 72, 73, 74]"
3,0a472ec641edaba53fa8433463e3a32218f104a4,ANNE,KEIG,1935-08-15,F,474ANNAMARKAVE,CONROE,TEXAS,77305,[170]
4,0ced8af7010e01cac2286831c7b4d06db541822b,BYROM,VANINI,1985-11-08,M,9BELLGROVESTREET,SILVERSPRING,MARYLAND,20904,"[95, 98, 99]"

## Pairwise De-duplication with Similarity Heuristics 

Our heuristics use Soundex tokens and Levenshtein distances to estimate whether two patient groups are similar enough to be in the same patient group. The similarity estimations also considers whether birthdates, gender, and street addresses match.

In [12]:
rs = RefinedSoundex()
s = Soundex()

THRESHOLD = 1.0
LEV_THRESHOLD = 3
def is_similar(row1, row2):
    similarity = 0
    # Heuristics for determining similarity
    if row1["First Name"] and row2["First Name"]:
        if s.sounds_like(row1["First Name"], row2["First Name"]) or \
        rs.distance(row1["First Name"], row2["First Name"], metric='levenshtein') < LEV_THRESHOLD:
            similarity += 0.4
    if row1["Last Name"] and row2["Last Name"]:
        if s.sounds_like(row1["Last Name"], row2["Last Name"]) or \
        rs.distance(row1["Last Name"], row2["Last Name"], metric='levenshtein') < LEV_THRESHOLD:
            similarity += 0.4
        
    if row1["Date of Birth"] and row2["Date of Birth"] and row1["Date of Birth"] != row2["Date of Birth"]:
        similarity -= 0.1
    else:
        similarity += 0.4
        
    if (row1["Sex"] == "M" and row2["Sex"] == "M") or (row1["Sex"] == "F" and row2["Sex"] == "F"):
        similarity += 0.2
    elif (row1["Sex"] == "M" and row2["Sex"] == "F") or (row1["Sex"] == "F" and row2["Sex"] == "M"):
        similarity -= 0.4
        
    if row1["Current Street 1"] and row2["Current Street 1"] and \
    row1["Current Street 1"] == row2["Current Street 1"]:
        similarity += 0.4
    
    if row1["Current Zip Code"] and row2["Current Zip Code"] and \
    row1["Current Zip Code"] == row2["Current Zip Code"]:
        similarity += 0.2
        
    if row1["Current City"] and row2["Current City"] and \
    row1["Current City"] == row2["Current City"]:
        similarity += 0.2
    return similarity > THRESHOLD

## Disjoint-set Data Structure for Efficient Grouping

This data structure efficiently maintains the sets of patient groups as similarities are discovered.

In [13]:
class DSU:
    """Disjoint-set data structure for maintaining sets of patient records.
    """
    def __init__(self, n):
        self.fa = [x for x in range(n)]

    def find(self, x):
        if x == self.fa[x]:
            return x
        self.fa[x] = self.find(self.fa[x])
        return self.fa[x]

    def union(self, x, y):
        a = self.find(x)
        b = self.find(y)
        self.fa[b] = a

In [14]:
dsu = DSU(len(reference))

for index1, row1 in reference.iterrows():
    for index2, row2 in reference.iterrows():
        if index1 <= index2:
            break
        else:
            if is_similar(row1, row2):
                dsu.union(index1, index2)

In [15]:
group_dict = {}
# Loop through the previous group ids and determine their final groupings
for group_id in range(len(reference)):
    if dsu.find(group_id) in group_dict:
        group_dict[dsu.find(group_id)].append(group_id)
    else:
        group_dict[dsu.find(group_id)] = [group_id]

# Loop through the final groupings to get the patients
counter = 0
patients_dict = {}
for final_id, group_ids in group_dict.items():
    patients_dict[counter] = []
    for group_id in group_ids:
        patient_ids = reference.iloc[[group_id]]["patient_ids"].tolist()
        patients_dict[counter] += patient_ids[0]
    counter += 1

In [16]:
patient_to_group = {}
for i, patients in patients_dict.items():
    for p in patients:
        patient_to_group[p] = i

In [19]:
original = pd.read_csv("Patient_Matching_Data.csv")

original["Temp Group ID"] = original["PatientID"].replace(to_replace=patient_to_group)

groupings_list = original["Temp Group ID"].tolist()
# Renumber whenever id changes so that it is ordered by patient number
renumbering = {}
counter = 0
final_groupings = []
for i in groupings_list:
    if i not in renumbering:
        counter += 1
        renumbering[i] = counter
    final_groupings.append(renumbering[i])

## Output Patient-Final Group ID Mappings

Having completed patient-matching, we can return the final group IDs as a CSV or as a new table in the database.

In [20]:
original.insert(0, 'Final Group ID', final_groupings)
original

,Final Group ID,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,...,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code,Temp Group ID
0,1,1,1,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,...,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0,31
1,1,1,2,NaN,Suttin,James,Power,9/21/1945,Male,1859 Sullivan Parkway,...,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0,31
2,1,1,3,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,...,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
3,1,1,4,NaN,Sutton,NaN,Power,9/20/1954,Male,1858 Sullivan Parkway,...,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
4,1,1,5,NaN,SUTTON,NaN,POWER,9/20/1954,Male,1858 SULLIVAN PKWAY,...,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
5,2,2,6,NaN,Sutton,NaN,Powers,12/15/2000,Female,1619 Maple Lane,...,93726.0,Sutton,NaN,Lore,NaN,NaN,NaN,NaN,NaN,35
6,2,2,7,NaN,Sutton,NaN,Powers,12/15/2000,Female,1619 Maple Lane,...,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35
7,3,3,8,757393348-7,Mikel,L,Trayton,9/20/2000,Male,715 Jana Point,...,85219.0,NaN,NaN,NaN,81089 Kenwood Park,NaN,Chattanooga,Tennessee,37416.0,0
8,3,3,9,757393348-7,Mikel,Lee,Trayton,9/20/2000,Male,715 Jana Point,...,85219.0,NaN,NaN,NaN,81089 Kenwood Park,NaN,Chattanooga,Tennessee,37416.0,0
9,3,3,10,757393348-7,Michael,NaN,Trayton,9/20/2000,Male,715 Jana Point,...,85219.0,NaN,NaN,NaN,81089 Kenwood Park,7,Chattanooga,Tennessee,37416.0,0
10,3,3,11,NaN,Mike,NaN,Trayton,9/2/2000,Male,715 Jana Point,...,85219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,3,3,12,757393348-7,Mikel,NaN,Trayton,9/20/2000,Male,715 Jana Point,...,85219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,3,3,13,NaN,Mikel,L,Trayton,9/20/2000,Female,715 Jana Point,...,85219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
13,4,4,14,930819916-0,Dalia,NaN,Bibb,12/7/1939,Female,78 Talmadge Drive,...,11447.0,NaN,NaN,NaN,389 Hollow Ridge Pass,Ste 24,Macon,Georgia,31205.0,9
14,4,4,15,NaN,Dalia,NaN,Bibb,12/7/1939,Female,78 Talmadge Drive,...,11447.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
15,5,5,16,887103871-1,Myrvyn,NaN,Buddock,4/11/1946,Male,264 Judy Pass,...,92812.0,NaN,NaN,NaN,02 Sauthoff Park,# 587,Cincinnati,Ohio,45208.0,14
16,5,5,17,NaN,Mervin,T,Buddock,4/11/1946,Male,264 Judy Pass,...,92812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
17,5,5,18,NaN,Myrvin,NaN,Buddock,4/11/1946,Male,264 Judy Pass,...,92812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
18,5,5,19,NaN,Mervyn,NaN,Buddock,4/11/1946,Male,264 Judy Pass,...,92812.0,NaN,NaN,NaN,02-Sauthoff Park,Apt 587,Cincinnati,Ohio,45208.0,14
19,5,6,20,NaN,Mervin,NaN,Buddock,12/15/2000,Male,251030 Golf Bolling,...,92812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
20,6,7,21,146899396-8,Cammy,NaN,Windless,4/18/1984,Female,142 Summer Ridge Place,...,93709.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
21,6,7,22,CAM123,Cam,NaN,Windless,4/18/1984,Female,142 Summer Ridge Place,...,93709.0,Cam,NaN,Windless,NaN,NaN,NaN,NaN,NaN,22
22,6,7,23,NaN,Cameron,NaN,Windles,4/18/1984,Female,142 Summer Ridge Place,...,93709.0,NaN,NaN,NaN,1 Merchant Hill,3539,Brooklyn,New York,11220.0,22
23,7,8,24,075148803-8,Elenore,NaN,MacDonnell,12/16/1950,Female,549 Pearson Plaza,...,31106.0,NaN,NaN,NaN,170 Hanson Alley,# 5096,El Paso,Texas,88535.0,10
24,7,8,25,075148803-8,Elenor,NaN,McDonnell,12/6/1950,Female,549 Pearson Plaza,...,31106.0,Elenor,Judith,McDonnell,NaN,NaN,NaN,NaN,NaN,10
25,7,8,26,075148803-8,Elenora,NaN,MacDonel,12/16/1950,Female,549 Pearson Plaza,...,31106.0,NaN,NaN,NaN,170 Hanson Alley Ste 5096,NaN,El Paso,Texas,88535.0,10
26,8,9,27,111421375-6,Janet,NaN,Biasini,9/28/1949,Female,9083 Pennsylvania Parkway,...,27615.0,NaN,NaN,NaN,7350 Calypso Alley,263,Youngstown,Ohio,44511.0,26
27,8,9,28,NaN,Janet,NaN,Bisini,9/28/1949,Female,9083 Pennsylvania Parkway,...,27615.0,Janet,NaN,Thompsen,7350 Calypso Alley,263,Youngstown,Ohio,44511.0,26
28,9,10,29,303748859-X,Darby,NaN,Steinson,6/14/1991,Male,1587 Shopko Parkway Apt 200,...,77035.0,NaN,NaN,NaN,4 Morningstar Drive,3,Los Angeles,California,90060.0,51
29,9,10,30,NaN,Darbie,NaN,Steiinson,6/14/1991,Male,1587 Shopko Parkway,...,77035.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,47,53,172,404591211-8,Berti,NaN,Lockie,11/13/1983,Female,2729 Springs Junction,...,22234.0,NaN,NaN,NaN,5 Sloan Crossing,401,Dallas,Texas,75342.0,17
172,47,53,173,NaN,Berti,NaN,Lockee,11/13/1983,NaN,2729 Springs Junction,...,NaN,NaN,NaN,NaN,5 Sloan Crossing,NaN,Dallas,TX,NaN,17
173,47,53,174,NaN,Berti,NaN,Locki,11/13/1983,F,2729 Springs Junction,...,22234.0,NaN,NaN,NaN,5 Sloan Crossing,401,Dallas,Texas,75342.0,17
174,47,53,175,48521534889,Berti,NaN,Lockie,10/13/19/3,F,2729 Springs Junction,...,22234.0,NaN,NaN,NaN,5 Sloan Crossing,APT401,Dallas,TX,75342.0,17
175,48,54,176,265234041-7,Zarah,NaN,Dake,6/29/2010,Female,334 Pearson Lane,...,95219.0,Michael,NaN,Dake,8305 Park Meadow Crossing,7,Minneapolis,Minnesota,55480.0,11
176,48,54,177,NaN,Sarah,NaN,Dake,6/29/2010,F,334 Pearson Ln,...,95219.0,NaN,NaN,NaN,8305 Park Meadow Crossing,APT #7,Mineapolis,NaN,55480.0,11
177,48,54,178,265234041-7,Sara,NaN,Drake,6/29/2010,NaN,334 Pearson Ln,...,NaN,NaN,NaN,NaN,8305 Park Meadow Crossing,NaN,Minneapolis,Minnesota,NaN,11
178,49,55,179,361284643-4,Madison,Gena,Pybus,12/30/1937,Male,14 Cardinal Terrace,...,97211.0,NaN,NaN,NaN,121 Emmet Way,615,Sioux City,Iowa,51110.0,42
179,50,55,180,NaN,Maddie,G,Pybus,12/30/1937,NaN,14 Cardinal Terace,...,9721.0,NaN,NaN,NaN,121 Emmet Way,NaN,Sioux City,IA,51110.0,36
180,51,55,181,584121154-1,Madison,NaN,P,12/20/1937,NaN,14 Cardinal Terrace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iowa,NaN,54
181,49,55,182,NaN,Madison,NaN,Piebus,12/30/1937,M,14 Cardinal Terrace,...,97211.0,NaN,NaN,NaN,121 Emmet Way,615,Sioux City,Iowa,51110.0,42
182,52,56,183,488721348,Madison,Q,Pybus,5/24/2013,Female,4454 Spadafore Dr,...,98683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50
183,53,57,184,101138829-4,Early,NaN,Burnyeat,9/26/1991,NaN,66 Pierstorff Ave,...,16107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
184,53,57,185,101518532,Earlie,J,Burnyeat,9/26/1991,NaN,66 Pierstorff Avenue,...,16107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
185,53,57,186,101138829-6,Hearly,J,Burniet,9/26/19991,NaN,66 Pierstorff Ave,...,1610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
186,54,58,187,PAT10222JV,J,NaN,Vu,12/15/1970,Female,1619 78th Road,...,98683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
187,54,58,188,PAT10222JV,J,NaN,Vu,12/15/1970,Female,1619 78th Rd,...,98683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
188,54,58,189,NaN,Ja,NaN,Vue,12/15/1970,Female,1619 78th Rode,...,98683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
189,54,58,190,NaN,Jah,NaN,Vu,12/15/1970,Female,1619 78th Roed,...,98683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
190,55,59,191,1000TF1,T.J.,S,Fry,5/5/1986,Female,12405 Teiter Heights E,...,98626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
191,55,59,192,NaN,T-Jay,S,Fry,5/5/1986,Female,12405 Teiter Heights E,...,98626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
192,55,59,193,NaN,T-J,Sarah,Frye,5/5/1986,Female,12405 Teiter Heights E,...,98626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
193,55,59,194,NaN,TJ,Sara,Fry,5/5/1986,Female,12405 Teiter Heights E,...,98626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
194,56,60,195,NaN,Todd,NaN,Jones,12/1/2015,Male,15424 Jeffies Lane,...,98683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43
195,56,60,196,NaN,Tom,NaN,Jones,12/1/2015,Male,15424 Jeffies Lane,...,98683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43
196,57,61,197,NaN,Bill,NaN,Smith,5/16/1972,Male,16595 City View Lane,...,98684.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55
197,57,62,198,NaN,Bill,NaN,Smith,5/16/1972,Male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55
198,58,63,199,NaN,Sarah,NaN,Field,3/17/2010,Female,9850 Kelso Road,...,98626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46
199,58,64,200,NaN,Sara,NaN,Field,3/17/2010,Female,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46
200,58,65,201,NaN,Sara,NaN,Field,3/17/2010,Female,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46